body {
  margin: 0;
  background-color: #FBFBFB;
}
hr{
  color:black;
  margin-top: 2rem;
}
h1 {
  font-size: 5rem;
  margin: 0 0 1rem 0;
  font-family: 'Open Sans', sans-serif;
}
  
.attr {
    font-family: 'Anonymous Pro', monospace;
    background-color: #C3F8FF;
    font-size:1.2rem;
    margin: 0 .5rem 0 .5rem;
 
  }

  .attr:hover {
    background-color: transparent;
 }

  
.icons {
    padding: 1rem;
    a {
      color: black;
      &:visited {
        color: black;
      }
    }
    .fab {
      -webkit-transition: -webkit-transform .2s ease-in-out;
      transition:         transform .2s ease-in-out;

      &:hover {
      -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
      }

    }
   
  }

  i {
    font-size: 1.6rem;
    padding:1rem;
  }

  
.header-main {
  padding: 2rem 20rem 2rem 20rem;
  text-align: center;
  
}


.content-main {
  padding: 2rem 20rem 5rem 20rem;
}

.pages-link {
  padding: 0 2rem 0 2rem;
  margin-bottom: 1rem;
  
  a {
    padding: 0 1rem 1rem 1rem;
    
  }
}

@media(max-width:1400px) {
  
  .header-main {
    padding: 0;
  }
  
  
  .content-main {
    padding: 2rem 4rem 5rem;
  }
}


@media(max-width:650px) {
  
  .header-main {
    padding: 0;
  }
  
  
  .content-main {
    padding-bottom: 5rem;
  }
}

.nodecor {
  text-decoration: none;
  color: black;
  &:hover {
    color: cornflowerblue;
  }
}